hud {
	unitsSelectionPanel {
		screen {
			source = "default\flash\screens_hud_UnitsSelectionPanel.swf";
			priority = screen-normal;
			scale-mode = preserve-aspect;
			scale-up-mode = hud;
			anchor-horizontal = left;
			anchor-vertical =  bottom;
		}

		component {
			image-substitution = true;
			text = "@special_power@";
		}
	}
}