hud {
		
	spectatorControls {
		screen {
			source = "default\flash\screens_hud_SpectatorControlScreen.swf";
			priority = screen-normal;
			scale-mode = preserve-aspect;
			anchor-horizontal = left;
			anchor-vertical = top;
		}
		component {
			image-substitution = true;
		}
	}
}